/* Tipografías, body, títulos, inputs básicos */

*,
*::before,
*::after { box-sizing: border-box; }

body {
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  margin: 20px;
}

.text-blue-400 {
    --tw-text-opacity: 1;
    color: rgb(96 165 250 / var(--tw-text-opacity, 1));
}

.font-bold {
    font-weight: 700;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

input, button {
  font-size: 1em;
}
